.main-bg{
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/302a3405-2cd8-4cad-8979-c044b67b6a96/dedwm09-31c921f4-c56c-45a8-bdd5-1186be1419ae.png/v1/fill/w_1600,h_900,q_80,strp/handpainted_battle_background__wasteland__by_eduardogaray_dedwm09-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvMzAyYTM0MDUtMmNkOC00Y2FkLTg5NzktYzA0NGI2N2I2YTk2XC9kZWR3bTA5LTMxYzkyMWY0LWM1NmMtNDVhOC1iZGQ1LTExODZiZTE0MTlhZS5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.IMIFzRKlD-kfpD7u0QAHS992vYXWv_DX4ahw23TC6_Q);
  height: 100vh;
  width: 100%;
}

